.navbar-dark[b-bkyhy1rfac] {
    background-color: #1d1d1b !important;
}
.logoImage[b-bkyhy1rfac] {
    height: 2.75vw;
    position: absolute;
    top: 1vh;
}
.navbar[b-bkyhy1rfac] {
    height: 5.5vh;
}