---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Kyle, a back end software developer from Hastings in England 
      <br />
      <br />
      My primary languages of choice includes:
      <ul class="list-inside list-disc">
        <li>C#</li>
        <li>TypeScripts</li>
      </ul>
      I am most commonly found using the following frameworks:
      <ul class="list-inside list-disc">
        <li>.NET</li>
        <li>React</li>
        <li>NextJS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about tattoo, soccer and traveling. An
      unusual hobby of mine is play classical music in the guitar or ukulele.
    </p>
  </div>
</Card>
