---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
import { Image } from 'astro:assets';
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  title="Rhiann Bull Designs"
  href={LINKS.rhiannbulldesigns}
>
  <div class="flex h-full w-full flex-col">
    <div>
      <Image
        width="50"
        height="50"
        src="/rhiann.png"
        class="pointer-events-none absolute bottom-[-100px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
        alt="memoji of Rhiann looking cute"
        loading='eager'
      />
    </div>
    <div>
      <p class="mt-2 text-sm dark:text-muted-foreground">
        My fiance is a wonderful graphic designer, it would mean a lot if you
        could check out her amazing work. She also has a card shop!
      </p>
    </div>
  </div>
</Card>
