@using Octokit
@inject NavigationManager NavigationManager
@page "/"

<div class="mainSection">
	<div class="row pt-4">
		<div class="col-2">
			<img src="images/ksImage.png" class="ksImage" alt="Kyle Scudder" />
		</div>
		<div class="col-10">
			<p>
				<code>I am a software developer from Brighton, UK. I enjoy software development and live music. My background is primarily in .NET and C#, but I have really taken a shine to TypeScript and React lately.</code>
			</p>
		</div>
	</div>
	<div class="row">
		@foreach (var repo in Repos)
		{
	  <div class="col-4">
	   <div class="Box box-shadow">
		<div class="Box-row">
		 <h3 class="m-0">
		  <p>@repo.name</p>
		 </h3>
		</div>
		<div class="Box-row">
		 <p class="mb-0 text-gray">
		  @repo.description
		 </p>
		</div>
		<div class="Box-row">
		 <button type="button" name="Go to the repo" class="btn btn-primary btn-block"
		  @onclick="@(e => RepoRedirect(@repo.url))">
		  Go to the repo
		 </button>
		</div>
	   </div>
	  </div>
		}
 </div>
</div>
@code {
	public List<Repos> Repos = new List<Repos>();

	protected override async Task OnInitializedAsync()
	{
		await GetCards();
	}
	public async Task<List<Repos>> GetCards()
	{
		var client = new GitHubClient(new Octokit.ProductHeaderValue("kylescudder"));
		var user = await client.User.Get("kylescudder");
		var list = new List<string> { "DatePot", "JSP", "Recipe-Saver" };
		foreach (var items in list)
		{
			var Repositories = await client.Repository.Get("kylescudder", items);
			Repos.Add(new Repos()
			{
				id = Repositories.Id,
				name = Repositories.Name,
				description = Repositories.Description,
				url = Repositories.GitUrl
			});
		};
		return Repos;
	}
	public void RepoRedirect(string url)
	{
		NavigationManager.NavigateTo(url);
	}
}