@using Octokit
@using System.Xml.Serialization
@using System.IO
@inject NavigationManager NavigationManager
@page "/"

<div class="container">
	<div class="row pt-4">
		<div class="col-4">
			<img src="images/ksImage.png" class="ksImage" alt="Kyle Scudder" />
		</div>
		<div class="col-8">
			<code>I am a software developer from Brighton, UK. I enjoy software development and live music. My background is primarily in .NET and C#, but I have really taken a shine to TypeScript and React lately.</code>
		</div>
	</div>
	<div class="row pt-4">
		<div class="col text-center">
			<code>I have cherry picked some of my repos below. I am quite proud of them for various reasons. <p class="emojiFontSize">😁</p></code>
		</div>
	</div>
	<div class="row pt-4">
		@if (Repos.Count == 0) {
			<div class="Box box-shadow col mx-auto text-center">
				<div class="Box-row">
					<code class="text-gray">I have hit the rate limit for GitHubs API, guess this site it more popular that I thought! <p class="emojiFontSize">😊</p></code>
					<code class="text-gray">Until I can sort out OctoKit OAuth just use the link below to see my repos:</code>
					<a name="Go to the repo" class="btn btn-primary btn-block" href="https://github.com/kylescudder?tab=repositories">
						Go to the repo
					</a>
				</div>
			</div>
		} else {
			@foreach (var repo in Repos)
			{
				<div class="col pt-2 pb-2">
					<div class="Box box-shadow">
						<div class="Box-row">
							<h3 class="m-0">
								<p>@repo.name</p>
							</h3>
						</div>
						<div class="Box-row">
							<p class="mb-0 text-gray">
								@repo.description
							</p>
						</div>
						<div class="Box-row">
							<a name="Go to the repo" class="btn btn-primary btn-block" href=@repo.url>
								Go to the repo
							</a>
						</div>
						<div class="Box-row">
							<a name="Go to the site" class="btn btn-primary btn-block" href=@repo.homepage>
								Go to the site
							</a>
						</div>
					</div>
				</div>
			}
		}
 </div>
</div>
@code {
	public List<Repos> Repos = new List<Repos>();

	protected override async Task OnInitializedAsync()
	{
		await GetCards();
	}
	public async Task<List<Repos>> GetCards()
	{
		var client = new GitHubClient(new Octokit.ProductHeaderValue("kylescudder"));
		try {
				var list = new List<string> { "DatePot", "JSP", "Recipe-Saver" };

				foreach (var items in list)
				{
					var Repositories = await client.Repository.Get("kylescudder", items);
					Repos.Add(new Repos()
					{
						id = Repositories.Id,
						name = Repositories.Name,
						description = Repositories.Description,
						url = Repositories.HtmlUrl,
						homepage = Repositories.Homepage
					});
				};
		} catch(Exception ex) {
			Console.WriteLine(ex);
		}
		return Repos;
	}
	public void RepoRedirect(string url)
	{
		NavigationManager.NavigateTo(url);
	}
}