@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content pt-4 px-4">
            <div class="row">
                <div class="col">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
